body{
    margin: 0;
    padding: 0;
}
#toggleMenu{
    display:none;
    align-items: center;
    padding: 10px 0;
    padding-right: 10px;
    text-align: right;
    margin: 0;
    color: #fff;
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}
#toggleMenu:hover{
    background-color: rgba(12, 58, 58, 0.9);
}
#quebra{
    display: none;
}
#mP{
    display: row;
    justify-content: center;
    text-align: right;
    position:relative;
    width: 100%;
    /*min-height: 50px;*/
    float:right;
    background-color: #0c582c;
    padding: 0;
    height: 60px;
    overFlow: hidden;
    margin: 0;
}
#mP #nav{ 
    height: 60px;
    padding: 0px 32px !important;
    display: flex;
    flex-wrap: wrap;
    text-align: right;
    justify-content: right;
    align-items: right;
    vertical-align: middle;
}
#mP #nav #logoPref{
    position: absolute;
    left: 32px;
    top: 15px;
}
#menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:0;
    margin: 0;
}
#menu li{
    text-decoration: none;
    list-style: none;
    /*background-image: linear-gradient(180deg, #052412, #083a1d,#083a1d);
    background-size: 100% 200%;
    background-position: 50% 100%;
    animation: gradientR 0.5s ease;
    -webkit-animation: gradientR 0.5s ease;
    animation-fill-mode:forwards;*/
    display:flex;
    flex-direction: column;
    height: 3.6rem;
    transition: ease 0.3s;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding-top: 10px;
}
#menu li a{
    height: 25px;
    padding: 0px 10px;
    text-decoration: none;
    color: #fff;
}
#menu li span{
    width: 100%;
    height: 17px !important;
    display:flex;
    flex-direction: column;
    text-align: center;
    /*height: 3.6rem;*/
    transition: ease 0.3s;
    justify-content: end;
    vertical-align: bottom;
    align-items: end;
    /*background-color: aquamarine;*/
}
#menu li span #barra{
    width: 100%;
    height: 0px;
    text-align: center;
    border-top: 0px solid green;
    transition: ease 0.3s;
    background-color: #fff;
}
#menu li:hover span #barra{
    align-items: end;
    height: 0px;
    border-top: 9px solid #b1cd49;
    /*box-shadow: 0 1px 6px 4px rgba(127, 255, 0, 0.5);
    box-shadow: 0 1px 6px 6px rgba(255, 255, 255, 0.8);*/
    text-shadow: chartreuse;
    transition: ease 0.3s;
}
@keyframes gradient {
	0% {background-position: 50% 100%; border-top: 0px solid rgba(16, 157, 157, 0.9);}
	/*50% {background-position: 50% 50%;}*/
	100% {background-position: 50% 0%; border-top: 4px solid rgba(16, 157, 157, 0.9);}
}
@-webkit-keyframes gradient {
	0% {background-position: 50% 100%; border-top: 0px solid rgba(16, 157, 157, 0.9);}
	/*50% {background-position: 50% 50%;}*/
	100% {background-position: 50% 0%; border-top: 4px solid rgba(16, 157, 157, 0.9);}
}
@-moz-keyframes gradient {
	0% {background-position: 50% 100%; border-top: 0px solid rgba(16, 157, 157, 0.9);}
	/*50% {background-position: 50% 50%;}*/
	100% {background-position: 50% 0%; border-top: 4px solid rgba(16, 157, 157, 0.9);}
}

@keyframes gradientR {
	0% {background-position: 50% 0%; border-top: 4px solid rgba(16, 157, 157, 0.9);}
	/*50% {background-position: 50% 50%;}*/
	100% {background-position: 50% 100%; border-top: 0px solid rgba(16, 157, 157, 0.9);}
}
@-webkit-keyframes gradientR {
	0% {background-position: 50% 0%; border-top: 4px solid rgba(16, 157, 157, 0.9);}
	/*50% {background-position: 50% 50%;}*/
	100% {background-position: 50% 100%; border-top: 0px solid rgba(16, 157, 157, 0.9);}
}
@-moz-keyframes gradientR {
	0% {background-position: 50% 0%; border-top: 4px solid rgba(16, 157, 157, 0.9);}
	/*50% {background-position: 50% 50%;}*/
	100% {background-position: 50% 100%; border-top: 0px solid rgba(16, 157, 157, 0.9);}
}

span #duvida {
    width: 100%;
    padding-left: 15px;
}

@media (max-width:1119px){
    #barra{
        display:none;
    }
    #mP nav{
        /*display:none;*/
        margin-top:5px;
    }
    #toggleMenu{
        display:block;
    }
    #menu li{
        width: 100%;
        float:none;
    }
    #quebra{
        display: block;
    }
    #logo{
        position: absolute;
        top: 10px;
        left: 10px;
    }
}


@media (min-width:1120px){
    #mP nav{
        /*display:none;*/
        margin-top:0px;
    }
    #mP{
        height: 60px;
    }
}


